body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    height: 3000px;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    height: 3%;
    width: 100%;
    background-color: green;
    font-size: 30px;
}

#content {
    display: flex;
    align-items: center;
    height: 75%;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 22%;
    width: 100%;
    background-color: rgb(0, 51, 0);
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

#header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
    flex-direction: row;
}

#header2 {
    height: 100%;
    width: 30%;
}

#header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
    flex-direction: row;
}

.menu {
    text-align: center;
    height: 50%;
    width: 30%;
    background-color: yellow;
    border: 2px solid white;
    border-radius: 45%;
    font-size: 2vmax;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22.4%;
    width: 100%;
    background-color: white;
}

#middle_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 100%;
    flex-direction: row;
    background-color: green;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    width: 100%;
    flex-direction: column;
    font-size: 50;
}

#slogan p {
    font-size: 30px;
}

#reviews_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    flex-direction: column;
}

#reviews_title {
    font-size: 3rem;
    text-align: center;
}

#reviews p {
    background-color: aquamarine;
    border-radius: 10px;
}

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 12.5%;
    flex-direction: row;
    background-color: green;
    border: 2px solid rgb(0, 46, 0);
    font-size: 2rem;
}

.courses button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    background-color: green;
    font-size: 2rem;
}

#better {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 12.5%;
    flex-direction: row;
    background-color: yellow;
    border: 2px solid rgb(0, 46, 0);
    font-size: 3rem;
    color: rgb(0, 46, 0);
    text-shadow: 3px 3px lightgreen;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 100%;
    flex-direction: column;
    font-size: 2vmax;
}

#start button {
    font-size: 3rem;
    color: white;
    background-color: green;
    border-color: rgb(24, 173, 24);
    border-radius: 20px;
}

#footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 55%;
    flex-direction: column;
}

#courses {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    flex-direction: row;
    color: white;
    font-size: 50px;
}

#lists {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    flex-direction: row;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    flex-direction: column;
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    flex-direction: column;
    color: white;
}

#footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    flex-direction: column;
}

#footer_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    flex-direction: row;
}

#footer2_info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    flex-direction: row;
}

#information_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    flex-direction: column;
    color: white;
}

#contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    flex-direction: column;
    color: white;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    flex-direction: column;
    color: white;
    font-size: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1%;
    width: 100%;
    flex-direction: column;
    color: white;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    flex-direction: column;
    color: white;
    font-size: 50px;
}

#none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 100%;
    flex-direction: column;
    color: white;
}

.dropbtn {
    background-color: green;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: none;
}
.dropdown {
    right: 0px;
    display: inline-block;
    width: 25%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: yellow;
    border: black;
    right: 0;
    min-width: 100px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: coral;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: green;
}

#phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

#phone_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    flex-direction: row;
}

.extra_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.extra_content p {
    text-align: center;
}

.extra_content h1 {
    text-align: center;
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.extra4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.better2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.look2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.eat2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.sleep2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.why2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.how2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.contact2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.walk4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.smell4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.talk4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}

.sit4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
    margin: 0%;
}



#get_help {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
}

#job {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    flex-direction: column;
}

.info a {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    #phone {
        display: none;
    }
}



@media only screen and (max-width: 1024px) {
    #hero {
        height: 19.5%;
    }
    
    #middle_menu {
        height: 5%
    }
    
    #slogan {
        height: 20%;
    }
    
    #reviews_container {
        height: 65%;
    }

    .information {
        font-size: 2rem;
    }

    #contact {
        font-size: 2rem;
    }

    #better {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 912px) {
    #hero {
        height: 16.5%;
    }
    
    #middle_menu {
        height: 5%
    }
    
    #slogan {
        height: 20%;
    }
    
    #reviews_container {
        height: 65%;
    }

    .information {
        font-size: 2rem;
    }

    #contact {
        font-size: 2rem;
    }

    #better {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 820px) {
    #hero {
        height: 15.4%;
    }
    
    #middle_menu {
        height: 5%
    }
    
    #slogan {
        height: 20%;
    }
    
    #reviews_container {
        height: 65%;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        height: 14.2%;
    }
    
    #middle_menu {
        height: 5%
    }
    
    #slogan {
        height: 20%;
    }
    
    #reviews_container {
        height: 65%;
    }
}

@media only screen and (max-width: 540px) {
    #container {
        height: 2500px;
    }

    #hero {
        height: 14.4%;
    }

    #slogan {
        height: 30%;
    }

    #content {
        height: 100%;
    }

    #footer {
        height: 50%
    }

    .extra {
        height: 30%;
    }

    .extra4 {
        display: none;
    }

    .walk4 {
        display: none;
    }

    .smell4 {
        display: none;
    }

    .talk4 {
        display: none;
    }

    .sit4 {
        display: none;
    }

    #get_help {
        display: none;
    }

    #middle_menu {
        display: none;
    }

    #header1 {
        display: none;
    }

    #header2 {
        display: none;
    }

    #header3 {
        display: none;
    }
    #reviews_title {
        font-size: 2rem;
    }

    .information {
        font-size: 3vh;
    }

    #contact {
        font-size: 3vh;
    }

    .info {
        font-size: 2vh;
        height: 30%;
    }

    #none {
        font-size: 2vh;
    }
}

@media only screen and (min-width: 415px) {
    #footer_phone {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    #jobs {
        display: none;
    }

    #footer2_info {
        display: none;
    }

    .information {
        height: 50%;
    }

    .info {
        height: 50%;
    }

    #hero {
        height: 10.5%;
    }
}

@media only screen and (max-width: 394px) {
    #hero {
        height: 10.3%;
    }
}

@media only screen and (max-width: 376px) {
    #hero {
        height: 9.8%;
    }
}

@media only screen and (max-width: 360px) {
    #hero {
        height: 9.3%;
    }
}

@media only screen and (max-width: 281px) {
    #container {
        height: 2000px;
    }

    .extra {
        height: 25%;
    }

    #footer img {
        display: none;
    }

    #footer {
        height: 20%;
    }

    #hero {
        height: 7%;
    }
}

